<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Discussion Topic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Edit Discussion Topic</h1>
  
  <%= form_for [@campaign, @discussion_topic] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <%= f.submit "Update", class: "btn btn-primary" %>
  <%= link_to "Cancel", campaign_discussion_topic_path(@campaign, @discussion_topic), class: "btn btn-default" %>
<% end %>

</div>

</body>
</html>
