<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Discussion Topics</h1>
<div class="row">
  <% @discussion_topics.each do |discussion_topic| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= discussion_topic.title %></h5>
          <%= link_to 'Read more', campaign_discussion_topic_path(@campaign, discussion_topic), class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_campaign_discussion_topic_path(@campaign, discussion_topic), class: "btn btn-warning" %>
            <%= link_to 'Delete', campaign_discussion_topic_path(@campaign, discussion_topic), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <%= link_to 'Back', campaign_path(@campaign), class: 'btn btn-default'  %>

        </div>
      </div>
    </div>
  <% end %>

</div>
</body>
</html>
