<!-- app/views/users/index.html.erb -->

<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Status</th>
      <th>Change Status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.status %></td>
        <td>
          <% if current_user.expert? && user.novice? %>
            <%= form_for(user, url: user_path(user), method: :patch) do |f| %>
              <%= f.select :status, options_for_select(User.statuses.keys.map { |s| [s.humanize, s] }), {}, class: 'form-control' %>
              <%= f.hidden_field :password, value: "" %> <!-- Add a hidden field for password -->
              <%= f.submit "Change Status", class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
