<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Adjust image height and width */
    .campaign-image {
      max-width: 100%; /* Set maximum width to 100% */
      height: auto; /* Allow the image to adjust its height proportionally */
    }
    .card-text {
      word-wrap: break-word; /* Allow the purpose text to wrap onto multiple lines */
      whitespace: normal;
    }
  </style>
</head>
<body>
  <h1>Campaigns</h1>
<div class="container ">
  <%= link_to 'New Campaign', new_campaign_path, class: 'btn btn-primary' %>
  <div class="row">
  <% @campaigns.each do |campaign| %>
    <div class="col-md-6 col-lg-4"> <!-- Adjust the column widths here -->
    <div class="card mt-3" style="width:350px; height:450px;" >
        <% campaign.images.each do |image| %>
          <%= image_tag image, class: 'card-img-top' %>
        <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= campaign.title %></h4>
        <p class="card-text"><strong>Purpose:</strong> <%= campaign.purpose %></p>
        <p class="card-text"><strong>Estimated Duration:</strong> <%= campaign.estimated_duration %></p>
        <%= link_to 'Show', campaign, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_campaign_path(campaign), class: 'btn btn-secondary' %>
        <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
    </div>
  <% end %>
</div>
</div>
</body>
</html>
