<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Campaigns</h1>

<div class="container">

       <%= link_to 'New Campaign', new_campaign_path, class: 'btn btn-primary' %>

    <div class="row">
        <% @campaigns.each do |camp| %>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><%= camp.title %></h3>
                        <p class="card-text"><strong>Purpose:</strong> <%= camp.purpose %></p>
                        <p class="card-text"><strong>Estimated Duration:</strong> <%= camp.estimated_duration %></p>
                        <%= link_to 'Show', camp, class: 'btn btn-primary' %>
                        <%= link_to 'Edit', edit_campaign_path(camp), class: 'btn btn-secondary' %>
                        <%= link_to 'Destroy', camp, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

</body>
</html>
